*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* body{
  overflow-x: scroll; 
} */
.container-fluid{
  margin: 0 !important;
  padding: 0 !important;
  /* */
}

/* App */
#MainDiv{
  overflow-x: scroll;
}

#MainDiv::-webkit-scrollbar{
  position: absolute;
  bottom: 0;
}

/* Left Pane */

#LeftPane{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(0,0,0,0.9);
  overflow-y: scroll;
  overflow-x: hidden !important;
  border-right: 5px solid black;
  color: gray;
  /* border-right: 1rem;
  border-color: black; */
}

#LeftPane::-webkit-scrollbar{
  display: none;
}

#leftPane:hover #LeftPane::-webkit-scrollbar{
  display: '';
}

#LeftPane div{
  margin-top: 1rem;
}

.PaneContent{
  position: relative;
  left: 1rem;
  top: 2rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: ease-in-out 0.3s;
}

.PaneContent:hover{
  left: 0;
  margin-left: 0.3rem;
  right: 0;
  cursor: pointer;
  background-color: gray;
  color: black;
}

/* Editor */

#editor{
  background-color: gray;
  position: fixed;
  height: 100vh;
  width: 650px;
  left: 250px;
  overflow-x: scroll;
}

#editor div{
  margin-top: 1rem;
}