*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



/* App */


#MainDiv::-webkit-scrollbar{
  bottom: 0;
}

/* #MainDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* Left Pane */

.ComponentDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  height: 100%;
}

.EditDiv{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  height: 100%;
  left: 5rem;
}

#LeftPane{
  position: fixed;
  left: 0rem;
  top: 0rem;
  margin-left: 0;
  margin-top: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(0,0,0,0.9);
  border-right: 5px solid black;
  color: gray;
}

#LeftPane::-webkit-scrollbar{
  display: none;
}

#LeftPane div{
  margin-top: 1rem;
}

.PaneContent{
  position: relative;
  left: 1rem;
  top: 2rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: ease-in-out 0.1s;
}

.PaneContent:hover{
  left: 0;
  margin-left: 0.3rem;
  right: 0;
  cursor: pointer;
  background-color: gray;
  color: black;
}

/* Editor */

.code-mirror-wrapper{
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  right: -2rem;
  margin-bottom: 5rem;
}

.editor-container{
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


.CodeMirror{
  height: 90vh !important;
  width: 40vw !important;
} 

/* Output */
/* 
.iframeDiv{
  position: relative;
} */


/* Responsiveness */

@media(max-width:1227px){
  .editor-container{
    margin-left: -4rem; 
  }
  
}

@media(max-width:1107px){
  .editor-container{
    margin-left: -3rem; 
  }
  
}

@media(max-width:1070px){
  .editor-container{
    margin-left: -1.5rem; 
  }
}

@media(max-width:1018px){
  .editor-container{
    margin-left: -0.5rem; 
  }
}

@media(max-width:867px){
  .editor-container{
    margin-left: 2rem; 
  }
}

@media(max-width:800px){
  
  #LeftPane{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
  }

  .editor-container{
    position: relative;
    display: block;
    margin-top: 2rem;
    left: 0;
    /* width: 100%;
    height: 100%;
    margin-left: -5rem; 
    overflow-y: hidden; */
  }
  

}