*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: rgb(170, 177, 169);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.5)
}

body{
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(#485563,#29323c) !important;
  background-image: -webkit-linear-gradient(#485563,#29323c) !important;
  background-image: -moz-linear-gradient(#485563,#29323c) !important;
  background-image: -o-linear-gradient(#485563,#29323c) !important; 
}

/* Container Div Styling */

.custom-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}


/* Row Div Styling */

.custon-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


/* File Explorer (Pane) Styling */

#Pane{
  position: fixed;
  left: 0rem;
  height: 100%;
  width: 200px;
  background-color: rgba(0,0,0,0.9);
  border-right: 5px solid black;
  color: gray;
}

#PaneTitle{
  background-color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#PaneContents{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5rem;
  width: 100%;
}

.PaneContent{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  padding-left: 0.5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  height: 100%;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.PaneContent:hover{
  color: black;
  background-color: gray;
  cursor: pointer;
}

.active{
  background-color: gray;
  color: black;
}

/* Webapp Logo */

.WebLogo{
  font-size: 1.3rem;
  /* font-weight: */
}

/* Editor Div Styling */

.EditDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-left: 12.5rem;
  background-image: linear-gradient(#485563,#29323c);
  background-image: -webkit-linear-gradient(#485563,#29323c);
  background-image: -moz-linear-gradient(#485563,#29323c);
  background-image: -o-linear-gradient(#485563,#29323c); 
}

.editor{
  position: relative;
  width: 100%;
  height: 100%;
  left: 1rem;
  top: -0.8rem;
}

.editor-container{
  position:relative;
  width: 100%;
  height: 100%;
}

.shareBtn{
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.shareBtn:hover{
  cursor: pointer;
}

/* Code Editor Styling */

.code-mirror-wrapper{
  position: relative;
  top: -1rem;
  right: 1rem;
  left: 0rem;
  width: 80%;
  height: 50vh;
}

.CodeMirror{
  width: 100% !important;
  height: 100% !important;
  border-radius: 1rem !important;
}

/* Output Div Styling */

.output{
  width: 100%;
  height: 100%;
  position: relative;
  left: 1rem;
  top: -1rem;
}


.iframeDiv{
  position: relative;
  background-color: #fff;
  width: 80%;
  height: 100%;
  border-radius: 1rem ;
}


/* Responsiveness */

@media(max-width:1150px){
  .code-mirror-wrapper{
    width: 78%;
  }
  .iframeDiv{
    width: 78%;
  }
}

@media(max-width:1052px){
  .code-mirror-wrapper{
    width: 76%;
  }
  .iframeDiv{
    width: 76%;
  }
}

@media(max-width:964px){
  .code-mirror-wrapper{
    width: 74%;
  }
  .iframeDiv{
    width: 74%;
  }
}

@media(max-width:900px){
  .code-mirror-wrapper{
    width: 72%;
  }
  .iframeDiv{
    width: 72%;
  }
}


@media(max-width:830px){
  .code-mirror-wrapper{
    width: 70%;
  }
  .iframeDiv{
    width: 70%;
  }
}

@media(max-width:800px){
  

  /* Container Responsiveness Styling */
  .custom-container{
    overflow-x: hidden;
  }

  /* Row Responsiveness Styling */
  .custon-row{
    position: relative;
    flex-direction: column;   
    overflow-x: hidden; 
  }

  /* File Explorer (Pane) Responsiveness Styling */
  #Pane{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    border-right: none;
  }
  
  #PaneContents{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    top: 0;
    margin-left: 0.4rem;
  }
  
  .PaneContent{
    margin-top: 0.5rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #PaneTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
  }


  /* Edit Div Responsiveness Styling */
  .EditDiv{
    width: 100vw;
    height: 100%;
    margin-left: 0;
    margin-right: 5rem;
  }
  
  .editor{
    position: relative;
    width: 100%;
    height: 100%;
    left: 6rem;
  }
  
  .editor-container{
    position:relative;
    width: 100%;
    height: 100%;
    right: 5.2rem;
    top: 2rem;
  }

  /* Code Editor Responsiveness Styling */
  .code-mirror-wrapper{
    position: relative;
    width: 95%;
    height: 60vh;
  }


  /* Output Div Respinsiveness Styling */
  .iframeDiv{
    position: relative;
    margin-top: 3rem;
    width: 95%;
    height: 60vh;
    right: 0.2rem;
  }
}

/* Mobile Styling */

@media(max-width:780px){
  .code-mirror-wrapper{
    width: 92%;
  }
  .iframeDiv{
    width: 92%;
  }
}